<div class="product-reviews">
  <h4><strong>Reviews:</strong></h4>
  <% @comments.each do |comment| %>
    <div class="row">
      <hr>
      <div>
        <% if signed_in? && current_user.admin? %>
          <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe,product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?'} %>
        <% end %>
      </div>
      <div><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></div>
      
      <div>Rating:<span class="rated" data-score="<%= comment.rating %>"></span></div>
      <div><%= comment.body %></div>
    </div>
  <% end %>
</div>