<% cache @product do %>
<div class="container">
  <div class="row" data-product-id="<%= @product.id %>">
    <div class="col-md-6">
      <%= image_tag(@product.image_url, class: "img-responsive show-img img-zoom", data_zoom_image: "@product.image_url") %>
    </div><!-- ./col-md-6 -->
    <div class="col-md-6">
      <div>
        <strong>Name:</strong>
        <%= @product.name %>
      </div><br>
      <div>
        <strong>Description:</strong>
        <%= @product.description %>
      </div><br>
      <div>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </div><br>
      <div>
        <strong>Price:</strong>
        <%= number_to_currency(@product.price) %>
      </div><br>
      <div><strong>Average Rating: </strong> <span class="rated" id="average-rating" data-score="<%= product.average_rating %>"></span></div><br>
      <div>
        <%= form_tag "/payments/create" do %>  
          <%= render partial: "shared/stripe_checkout_button" %>
          <%= hidden_field_tag(:product_id, @product.id) %>
        <% end %>
      </div>
    </div><!-- ./col-md-6 -->
  </div><!-- /.row -->
</div><!-- /.container -->
<% end %>



  