<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag(@product.image_url, class: "img-responsive show-img") %>
    </div><!-- ./col-md-6 -->
    <div class="col-md-6">
      <div>
        <strong>Name:</strong>
        <%= @product.name %>
      </div><br>
      <div>
        <strong>Description:</strong>
        <%= @product.description %>
      </div><br>
      <div>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </div><br>
      <div>
        <strong>Price:</strong>
        <%= number_to_currency(@product.price) %>
      </div><br>
      <div><strong>Average Rating: </strong> <span class="rated" data-score="<%= product.average_rating %>"></span></div>
    </div><!-- ./col-md-6 -->
  </div><!-- /.row -->
</div><!-- /.container -->



  